@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://font.emtech.cc/css/GenWanMinTW");

:root,
:host {
  --font-sans: "Roboto", sans-serif;
  --font-serif: "GenWanMinTW", serif;
  --color-body: #6D5F56;
  --color-primary: #B77449;
  --color-light: #F4F3F1;
  --scrollbar-color-thumb: #6D5F56;
  --scrollbar-color-track: #E0DED8;
  --scrollbar-width: thin;
  --scrollbar-width-number: 6px;
}

* {
  text-wrap: pretty;
}

html {
  color: var(--color-body);
}

html,
.scrollable {
  scroll-behavior: smooth;

  /* Chrome / Edge / Firefox */
  @supports (scrollbar-width: auto) {
    scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
    scrollbar-width: var(--scrollbar-width);
  }

  /* Chrome / Edge / Safari */
  @supports selector(::-webkit-scrollbar) {
    &::-webkit-scrollbar-thumb {
      background: var(--scrollbar-color-thumb);
      border-radius: calc(var(--scrollbar-width-number) / 2);
    }

    &::-webkit-scrollbar-track {
      background: var(--scrollbar-color-track);
      border-radius: calc(var(--scrollbar-width-number) / 2);
    }

    &::-webkit-scrollbar {
      max-width: var(--scrollbar-width-number);
      max-height: var(--scrollbar-width-number);
    }
  }
}




body {
  font-family: var(--font-serif);
}


.title-underline {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 1px;
    background-color: #B77449;
    border-radius: 2px;
  }
}

p,
span,
b {
  a {
    color: var(--color-primary);

    &:hover {
      text-decoration: underline;
    }
  }
}

header {
  background-color: rgba(255, 255, 255, .8);
  backdrop-filter: blur(10px);
}

footer a:hover {
  text-decoration: underline;
}

.list-disc {
  list-style-type: none;

  >li {
    position: relative;

    &::before {
      content: '•';
      position: absolute;
      left: -1rem;
      top: 50%;
      font-weight: bold;
      transform: translateY(-50%);
    }
  }
}



// loading

#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .9);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  z-index: 9999;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 9px solid var(--color-primary);
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg)
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation: fadeOut 1s ease-in-out;
  pointer-events: none;
}